html, body
	position relative
	min-height 100%
	width 100%
	-ms-touch-action manipulation
	touch-action manipulation
	height 100%
	margin 0
	padding 0
	display block
	-webkit-text-size-adjust none

header, main, nav, section, article, aside, footer, sgroup, figcaption, figure
	display block

img
	border none
	display inline-block
	vertical-align bottom
	backface-visibility hidden

address
	font-style normal
	font-weight normal

input, textarea, select, option
	margin 0
	outline 0
	box-shadow none
	vertical-align top
