
$rhythm					= 5px

$indent					= $rhythm*4

$break_points			= (720 960 1200 1600)




// максимальное количество колонок
$columns				= 12


// адаптивная сетка
$adaptive_grid			= true


// максимальная ширина center-block
$center_block_max		= 1200


//fonts
$font					= {}


$font.family			= {}
$font.family.regular	= robotoregular, Arial, sans-serif
$font.family.light		= robotolight, Arial, sans-serif
$font.family.bold		= robotobold, Arial, sans-serif


$font.default			= {}
$font.default.size 		= 14px
$font.default.height 	= 17px
$font.default.color 	= #404040
$font.default.family 	= $font.family.regular